/*
  _           __     ______  _    _ _______ 
 | |        /\\ \   / / __ \| |  | |__   __|
 | |       /  \\ \_/ / |  | | |  | |  | |   
 | |      / /\ \\   /| |  | | |  | |  | |   
 | |____ / ____ \| | | |__| | |__| |  | |   
 |______/_/    \_\_|  \____/ \____/   |_|   

*/

@import "layout/mixins";
@import "layout/extends";

@import "layout/themeswitcher";
@import "layout/page";


body {
}

header {
	&.site-header {
		background-color: #777;
	}
}

article {
	background-color: #AAA;

	&:nth-child(even) {
		background-color: #CCC;
	}
}

footer {
	&.site-footer {
		background-color: #999;	
	}
}

