/*
 __      __     _____  _____          ____  _      ______  _____ 
 \ \    / /\   |  __ \|_   _|   /\   |  _ \| |    |  ____|/ ____|
  \ \  / /  \  | |__) | | |    /  \  | |_) | |    | |__  | (___  
   \ \/ / /\ \ |  _  /  | |   / /\ \ |  _ <| |    |  __|  \___ \ 
    \  / ____ \| | \ \ _| |_ / ____ \| |_) | |____| |____ ____) |
     \/_/    \_\_|  \_\_____/_/    \_\____/|______|______|_____/   

*/                                                               
                                                                 
/* ------------------------------------------
/* COLOURS
/* --------------------------------------- */
$h1Color: black;
$h4Color: white;

/* ------------------------------------------
/* SIZES
/* --------------------------------------- */
$columnWidth: 960px;
$gutter: 20px;